* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#product-conteiner {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin: auto;
}

.tarjeta-producto {
  max-width: 300px;
  text-align: center;
  background-color: rgba(34, 240, 15, 0.404);
  padding: 30px;
  transition: 300ms;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.162);
}

.tarjeta-producto:hover {
  translate: 0 -10px;
  box-shadow: 0 10px 5px rgba(1, 99, 1, 0.37);
}

.tarjeta-producto img {
  width: 100%;
  aspect-ratio: 1.5;
}
