* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#product-conteiner {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: auto;
}

.new-product {
  max-width: 300px;
  text-align: center;
  background-color: beige;
  padding: 10px;
  transition: 300ms;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.162);
}

.new-product:hover {
  translate: 0 -10px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.162);
}

.new-product img {
  width: 100%;
  aspect-ratio: 1.5;
}
