* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h3,
p {
  margin: 5px 0;
}

header {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.162);
  padding: 10px 0;
  margin-bottom: 10px;
}
header nav {
  display: flex;
  justify-content: space-between;
  margin: 0 60px;
}

#logo {
  height: 40px;
}
header nav img {
  height: 22px;
  position: relative;
}
#cuenta-carrito {
  background-color: rgb(5, 153, 54);
  border-radius: 100%;
  display: inline-block;
  width: 20px;
  aspect-ratio: 1;
  text-align: center;
  line-height: 20px;
  position: absolute;
}

button {
  background-color: rgba(119, 73, 5, 0.664);
  color: white;
  padding: 5px 10px;
  border: unset;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  text-align: center;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.162);
  margin-top: auto;
}
